/* Force monospace font on Google Keep */
* {
  font-family: "Fira Code", "Courier New", Courier, monospace !important;
  font-size: 16px !important;
  transition-duration: 0.04s !important;
  transition-timing-function: ease-out !important;
  animation-duration: 0.04s !important;
  animation-timing-function: ease-out !important;
}

/* Expanded note modal */
.url-porter-keep-modal {
  left: 20px !important;
  right: 20px !important;
  top: 20px !important;
  bottom: 20px !important;
}

.url-porter-keep-modal > :first-child {
  width: 100% !important;
  max-width: 100% !important;
  max-height: calc(100vh - 40px) !important;
}